<div class="flex flex-col mt-10 font-roboto">

  <h2 class="text-3xl font-black tracking-wider">REFERENCES/</h2>
  <h2 class="text-3xl font-black tracking-wider">CERTIFICATES</h2>
  <div class="mt-4">
    <p class="font-semibold">ITF+ Certified CompTIA</p>
    <p class="font-semibold">Cybersecurity Essentials</p>
    <p class="font-semibold">Responsive Web Design</p>
    <p class="font-semibold">Legacy JavaScript Algorithms and Data Structures</p>
    <p class="font-semibold">Basic Web Development Workshop - Zuitt</p>
    <p class="font-semibold">JavaScript Game Development Workshop</p>
    <p class="mt-1">And more upon request...</p>
  </div>
</div>
