<div class="flex flex-col mt-10 font-roboto">
  <h2 class="text-3xl font-black tracking-wider">PROJECTS/WORK EXP</h2>
  <h4 class="mt-4 text-xl font-bold tracking-wider">Medica Pharmacy E-Commerce Website</h4>
  <p class="">Project Manager and Full Stack Web Developer</p>

  <h4 class="mt-6 text-xl font-bold tracking-wider">Kalium Drugstore Pharmaceutical Website</h4>
  <p class="">Project Manager and Full Stack Web Developer</p>

  <h4 class="mt-6 text-xl font-bold tracking-wider">Akaru Book Management Website</h4>
  <p class="">Lead Backend and Database Developer </p>

  <h4 class="mt-6 text-xl font-bold tracking-wider">Twitter Posts Data Visualization</h4>
  <h4 class="text-xl font-bold tracking-wider">K-POS - POS System in Python</h4>
</div>
