<div class="flex flex-col mt-10 font-roboto">
  <h2 class="text-3xl font-black tracking-wider">TOOLS</h2>
  <div class="mt-4">
    <p class="font-semibold">Git/Github <span class="font-normal">- Version Control</span></p>
    <p class="font-semibold">Linux <span class="font-normal">- Operating System of Choice</span></p>
    <p class="font-semibold">Vim/Neovim <span class="font-normal">- Text Editor (PDE)</span></p>
    <p class="font-semibold">i3WM <span class="font-normal">- Tiling Window Manager</span></p>
    <p class="font-semibold">TMUX <span class="font-normal">- Terminal Multiplexer</span></p>
  </div>
</div>
