  <div class="flex flex-col mt-10 font-roboto">
    <h2 class="text-3xl font-black tracking-wider">EDUCATION</h2>
    <p class="mt-6">2022-Present</p>
    <h4 class="text-xl font-bold tracking-wider">Holy Angel University</h4>
    <p class="w-[35ch]">Bachelor of Science in IT Specializing in Web Development</p>

    <p class="mt-6">2020-2022</p>
    <h4 class="text-xl font-bold tracking-wider">Holy Angel University</h4>
    <p class="w-[35ch]">Senior High School - Information and Communications Technology</p>

    <p class="mt-6">2016-2020</p>
    <h4 class="text-xl font-bold tracking-wider">Holy Angel University</h4>
    <p class="w-[35ch]">Junior High School</p>
  </div>
